<div class="row h-100 app-auth-layout">
    <div class="col-sm-12 my-auto">
        <section class="flexbox-container">
            <div class="col-12 d-flex align-items-center justify-content-center">
                <div class="col-lg-4 col-md-8 col-10">
                    <div class="px-2 py-2 m-0">
                        <div class="card-header border-0">
                            <div class="card-title text-center">
                                <img src="../../assets/images/Nome-logo.png" alt="branding logo" class="nome-logo">
                            </div>
                            <h6 class="card-subtitle line-on-side text-muted text-center font-small-3 pt-2">
                                <span>{{title}}</span>
                            </h6>
                        </div>
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
