h1 {
    color: rgb(255, 255, 255);
    font-family: Ubuntu-Regular;
    font-size: 28px;
    font-weight: normal;
    letter-spacing: 0.66px;
}

.btn-primary-nome {
    border-radius: 27px;
    width: 164px;
    background: rgb(0, 114, 195);
    border-radius: 27px;
}

.btn-padding-nome {
    padding: 15px;
}